<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mykotlinapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyKotlinApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".features.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".features.games.GamesActivity"
            android:exported="false"/>
        <activity
            android:name=".features.games.GameWebViewActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".features.games.GameWebViewVerticalActivity"
            android:exported="false"/>
        <activity
            android:name=".features.complain.ComplainNextPageActivity"
            android:exported="false" />
        <activity
            android:name=".features.complain.ComplainActivity"
            android:exported="false" />
        <activity
            android:name=".features.dumptrash.DumpTrashActivity"
            android:exported="false" />
        <activity
            android:name=".features.garbagePrice.GarbagePriceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>