<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mykotlinapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <!-- Gmail -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".util.di.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Grac"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyKotlinApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".features.support.WebGracActivity"
            android:exported="false" />
        <activity
            android:name=".features.question.QuestionWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".features.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".features.games.GamesActivity"
            android:exported="false"/>
        <activity
            android:name=".features.games.GameWebViewActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".features.games.GameWebViewVerticalActivity"
            android:exported="false"/>
        <activity
            android:name=".features.complain.ComplainNextPageActivity"
            android:exported="false" />
        <activity
            android:name=".features.complain.ComplainActivity"
            android:exported="false" />
        <activity
            android:name=".features.dumptrash.DumpTrashActivity"
            android:exported="false" />
        <activity
            android:name=".features.garbagePrice.GarbagePriceActivity"
            android:exported="false" />
        <activity
            android:name=".features.map.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>